<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <h6 class="mb-0 text-uppercase">دسته بندی ها</h6>
        <hr />
        <div class="card">
          <div class="card-body">
            <table class="table mb-0 table-dark table-striped">
              <thead>
                <tr>
                  <th scope="col">نام دسته بندی</th>
                  <th scope="col">توضیحات</th>
                  <th scope="col">عکس</th>
                  <th scope="col">جایگزین عکس</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td>
                    <span
                      type="button"
                      data-edit="true"
                      class="btn btn-warning edit"
                    >
                      <i class="bx bx-edit"></i>ویرایش
                    </span>
                  </td>
                  <td>
                    <button class="btn btn-danger delete">
                      <i class="bx bx-x"></i>حذف
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end page content-->
</div>
