<!--start wrapper-->
<div class="wrapper">
  <!-- start page content wrapper-->
  <div class="page-content-wrapper">
    <!-- start page content-->
    <div class="page-content">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="card radius-10">
            <div class="card-body">
              <form>
                <h5 class="mb-3">بروزرسانی اطلاعات فردی</h5>
                <div
                  class="mb-4 d-flex flex-column gap-3 align-items-center justify-content-center"
                >
                  <div class="user-change-photo shadow">
                    <img src="assets/images/avatars/01.png" alt="..." />
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm radius-30 px-4"
                  >
                    <ion-icon name="image-sharp"></ion-icon>تغییر عکس
                  </button>
                </div>
                <h5 class="mb-0 mt-4">اطلاعات فردی</h5>
                <hr />
                <div class="row g-3">
                  <div class="col-6">
                    <label class="form-label">نام</label>
                    <input type="text" class="form-control" value="@jhon" />
                  </div>
                  <div class="col-6">
                    <label class="form-label">نام خانوادگی</label>
                    <input
                      type="text"
                      class="form-control"
                      value="xyz@example.com"
                    />
                  </div>
                  <div class="col-6">
                    <label class="form-label">ایمیل</label>
                    <div class="input-group mb-2">
                      <input
                      type="email"
                      class="form-control"
                      id="inlineFormInputGroup"
                    />
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          @
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="form-label">نام کاربری</label>
                    <input type="text" class="form-control" value="" />
                  </div>
                </div>

                <h5 class="mb-0 mt-4">اطلاعات تماس</h5>
                <hr />
                <div class="row g-3">
                  <div class="col-12">
                    <label class="form-label">آدرس</label>
                    <input
                      type="text"
                      class="form-control"
                      value="47-A, city name, United States"
                    />
                  </div>
                  <div class="col-6">
                    <label class="form-label">کشور</label>
                    <input type="text" class="form-control" value="@jhon" />
                  </div>
                  <div class="col-6">
                    <label class="form-label">شهر</label>
                    <input
                      type="text"
                      class="form-control"
                      value="xyz@example.com"
                    />
                  </div>
                  <div class="col-6">
                    <label class="form-label">تلفن منزل</label>
                    <div class="input-group mb-2">
                      <input
                      type="tel"
                      class="form-control"
                      id="inlineFormInputGroup"
                    />
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>
                            <i class="bx bx-phone"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="form-label">موبایل</label>
                    <div class="input-group mb-2">
                      <input
                      type="tel"
                      class="form-control"
                      id="inlineFormInputGroup"
                    />
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>
                            <i class="bx bx-mobile"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label class="form-label">آدرس</label>
                    <textarea class="form-control" rows="4" cols="4"></textarea>
                  </div>
                </div>
                <div class="text-start mt-3">
                  <button type="button" class="btn btn-primary px-4">
                    ذخیره تغییرات
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
      <!-- end page content-->
    </div>
  </div>
</div>
