<!-- start page content wrapper-->
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <h4>پروفایل</h4>

    <div class="row">
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="card overflow-hidden radius-10">
          <div class="profile-cover bg-dark position-relative mb-4">
            <div
              class="user-profile-avatar shadow position-absolute top-50 start-0 translate-middle-x"
            >
              <img src="assets/images/avatars/01.png" alt="..." />
            </div>
          </div>
          <div class="card-body">
            <div class="mt-5 d-flex align-items-start justify-content-between">
              <div class="">
                <h3 class="mb-2">سارا</h3>
                <p class="mb-1">مدیر فیلم های علمی تخیلی</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="mb-2"><i class="bx bx-pencil"></i> یادداشت ها</h4>
            <div class="card">
              <div class="card-body">
                <h3>عنوان</h3>
                <p>
                          متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                           از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                           در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی 
                          مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                           می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                          ، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها 
                          شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، 
                          و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان
                           امید داشت که تمام و دشواری موجود در ارائه راهکارها،
                           و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                           حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                           اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="card radius-10">
          <div class="card-body">
            <h5 class="mb-3">یادآوری ها</h5>
            <p class="mb-0">
              انجام پروژه
            </p>
          </div>
        </div>

        <div class="card radius-10">
          <div class="card-body">
            <h5 class="mb-3">لینک ها</h5>
            <a href="www.google.com">گوگل</a>
            <br/>
            <a href="www.google.com">لینکدین</a>
            <br/>
            <a href="www.google.com">توییتر</a>
            <br/>
            <a href="www.google.com">فیسبوک</a>
          </div>
        </div>

      </div>
    </div>
    <!--end row-->
  </div>
  <!-- end page content-->
</div>

<!--Start Back To Top Button-->
<a href="javaScript:;" class="back-to-top"
  ><ion-icon name="arrow-up-outline"></ion-icon
></a>
<!--End Back To Top Button-->
