
      <!--start sidebar -->
      <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
          <div>
            <img
              src="../dist/pannel/images/logo-icon-2.png"
              class="logo-icon"
              alt="logo icon"
            />
          </div>
          <div>
            <h4 class="logo-text">پنل مدیریت</h4>
          </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
          <li>
            <a href="/Dashboard">
              <ion-icon class="bx bx-tachometer"></ion-icon>
              <div class="menu-title">داشبورد</div>
            </a>
          </li>
          <li>
            <a href="/CategoryManagement">
              <ion-icon class="bx bx-grid-alt"></ion-icon>
              <div class="menu-title">مدیریت دسته بندی ها</div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="has-arrow">
              <ion-icon class="bx bx-caret-down"></ion-icon>
              <div class="menu-title">مدیریت فیلم ها</div>
            </a>
            <ul>
              <li>
                <a href="/GenreManagement">
                  <ion-icon class="bx bx-face"></ion-icon>مدیریت ژانرها
                </a>
              </li>
              <li>
                <a href="/MovieManagement">
                  <ion-icon class="bx bx-video"></ion-icon>مدیریت فیلمها
                </a>
              </li>
              <li>
                <a href="/ActorManagement">
                  <ion-icon class="bx bx-body"></ion-icon>مدیریت بازیگران
                </a>
              </li>
              <li>
                <a href="/AuthorManagement">
                  <ion-icon class="bx bx-pen"></ion-icon>مدیریت نویسندگان
                </a>
              </li>
              <li>
                <a href="/DirectorManagement">
                  <ion-icon class="bx bx-movie"></ion-icon>مدیریت کارگردانان
                </a>
              </li>
              <li>
                <a href="/MusicianManagement">
                  <ion-icon class="bx bx-music"></ion-icon>مدیریت آهنگسازان
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/BoxManagement">
              <ion-icon class="bx bx-cube"></ion-icon>
              <div class="menu-title">مدیریت جعبه های نمایش</div>
            </a>
          </li>
          <li>
            <a href="/CommentManagement">
              <ion-icon class="bx bx-comment"></ion-icon>
              <div class="menu-title">مدیریت نظرات</div>
            </a>
          </li>
          <li>
            <a href="/">
              <ion-icon class="bx bx-home"></ion-icon>
              <div class="menu-title">صفحه اصلی</div>
            </a>
          </li>
        </ul>

        <!--end navigation-->
      </aside>
      <!--end sidebar -->