<br/>
<table 
class="table table-bordered table-hover table-striped table-sm"
>
<h4>فیلم ها</h4>
<tr>
  <th>ردیف</th>
  <th>نام فیلم</th>
  <th></th>
</tr>

  <tr>
  <td></td>
  <td></td>
  <td>
    <span
      data-delete-box-movie="true"
      data-id=""
      page-id="dvPageContent"
      data-post-url="BoxManagement/deleteBoxMovie"
      data-get-url="BoxManagement"
      data-confirm-message="آیا مطمئن هستید؟"
      class="btn btn-outline-danger"
    >
      <i class="bx bx-x"></i>حذف
    </span>
  </td>
</tr>

</table>
<hr/>
<a href="BoxManagement" class="btn btn-outline-info">بازگشت</a>