<div class="row justify-content-center">
  <div class="col-4 form-group">
    <form>
      <select id="selectBox" class="form-control">
        <option>salam</option>
        <option>chetori</option>
      </select>
    </form>
  </div>
  <div class="col-1">
    <div>
      <button type="button" id="btnAddTwoBox" class="btn btn-success">
        <i class="bx bx-arrow-to-left"></i>
      </button>
    </div>
    <br/>
    <div>
      <button type="button" id="btnRemoveFromBox" class="btn btn-danger">
        <i class="bx bx-arrow-to-right"></i>
      </button>
    </div>
  </div>
  <div class="col-7 form-group">
    <form>
      <select multiple class="form-control overflow-auto" id="selectedBox" >
      </select>
    </form>
  </div>
</div>
