<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
    <form id="frmCreateComment" method="post" action="comment">
        <input type="hidden" name="_csrf" value="">
        <input type="hidden" name="movieId" value="">
      <div class="form-group">
        <label for="text" class="from-label">نظر</label>
        <textarea name="text" id="text"></textarea>
      </div>
      <br />
      <div class="form-group">
        <button id="btnCreateActor" type="submit" class="btn btn-success">ثبت</button>
      </div>
    </form>
  </div>
  </div>
    <div class="card text-info" style="background-color: black;">
      <div class="card-body">

          <div class="form-group">
            <h6></h6>
            </hr>
            <p class="text-warning"></p>
            <div class="form-group">
              <h6></h6>
              </hr>
              <div class=" text-light"></div>
            </div>
          </div>
      </div>
    </div>
  </br>
  </hr>
  </div>



 
  