
   <!-- Banner Start -->
   <div class="container-fluid bg-dark">
      <div class="row">
         <div class="col-12">
            <div class="video-container iq-main-slider">
               <video class="video d-block" controls loop>
                  <source src="video/sample-video.mp4" type="video/mp4">
               </video>
            </div>
         </div>
      </div>
   </div>
   <!-- Banner End -->
   <!-- MainContent -->
<!-- MainContent -->
<div style="width: 100%; height: 2em"></div>
<!-- MainContent -->

<div class="container-fluid" style="margin-top: 5em">
  <div class="row">
   <div class="col-12">
      <h3>فیلم های مشابه</h3>
   </div>
    <div class="col-sm-6 col-md-4" style="margin-top: 1em">
      <a href="#">
        <div class="card bg-dark text-white">
          <img
            src="./Theme/images/slider/slider1.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title">عاشقانه</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4" style="margin-top: 1em">
      <a href="#">
        <div class="card bg-dark text-white">
          <img
            src="./Theme/images/slider/slider1.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title">عاشقانه</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4" style="margin-top: 1em">
      <a href="#">
        <div class="card bg-dark text-white">
          <img
            src="./Theme/images/slider/slider1.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title">عاشقانه</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4" style="margin-top: 1em">
      <a href="#">
        <div class="card bg-dark text-white">
          <img
            src="./Theme/images/slider/slider1.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title">عاشقانه</h5>
          </div>
        </div>
      </a>
    </div>


  </div>
</div>
