



<div style="width: 100%; height: 2em;"></div>
   <!-- MainContent -->

<div class="container-fluid" style="margin-top: 5em;">
   <div class="row">

      <div class="col-sm-12 col-md-3" style="margin-top: 1em;">
         <a href="#">
         <div class="card bg-dark text-white" style="border: none;box-shadow: 2px 2px 0 2px rgba(194, 25, 59, 0.269);">
            <img src="./Theme/images/slider/slider1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">عاشقانه</h5>
            </div>
          </div>
         </a>
      </div>

      <div class="col-sm-12 col-md-3" style="margin-top: 1em;">
         <a href="#">
         <div class="card bg-dark text-white" style="border: none;box-shadow: 2px 2px 0 2px rgba(194, 25, 59, 0.269);">
            <img src="./Theme/images/slider/slider1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">عاشقانه</h5>
            </div>
          </div>
         </a>
      </div>

      <div class="col-sm-12 col-md-3" style="margin-top: 1em;">
         <a href="#">
         <div class="card bg-dark text-white" style="border: none;box-shadow: 2px 2px 0 2px rgba(194, 25, 59, 0.269);">
            <img src="./Theme/images/slider/slider1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">عاشقانه</h5>
            </div>
          </div>
         </a>
      </div>

      <div class="col-sm-12 col-md-3" style="margin-top: 1em;">
         <a href="#">
         <div class="card bg-dark text-white" style="border: none;box-shadow: 2px 2px 0 2px rgba(194, 25, 59, 0.269);">
            <img src="./Theme/images/slider/slider1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">عاشقانه</h5>
            </div>
          </div>
         </a>
      </div>

      <div class="col-sm-12 col-md-3" style="margin-top: 1em;">
         <a href="#">
         <div class="card bg-dark text-white" style="border: none;box-shadow: 2px 2px 0 2px rgba(194, 25, 59, 0.269);">
            <img src="./Theme/images/slider/slider1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">عاشقانه</h5>
            </div>
          </div>
         </a>
      </div>

      <div class="col-sm-12 col-md-3" style="margin-top: 1em;">
         <a href="#">
         <div class="card bg-dark text-white" style="border: none;box-shadow: 2px 2px 0 2px rgba(194, 25, 59, 0.269);">
            <img src="./Theme/images/slider/slider1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">عاشقانه</h5>
            </div>
          </div>
         </a>
      </div>

      <div class="col-sm-12 col-md-3" style="margin-top: 1em;">
         <a href="#">
         <div class="card bg-dark text-white" style="border: none;box-shadow: 2px 2px 0 2px rgba(194, 25, 59, 0.269);">
            <img src="./Theme/images/slider/slider1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">عاشقانه</h5>
            </div>
          </div>
         </a>
      </div>


   </div>
</div>

  <!-- MainContent End-->



  <div style="width: 100%; height: 2em;"></div>

 