<div class="col-12">
  <div id="dvAlertError" role="alert"></div>
  <form class="form" id="frmCreateMusician" method="post">
    <div class="form-group">
      <label for="name" class="from-label">نام</label>
      <input type="text" class="form-control" name="name" id="name" />
    </div>
    <br />
    <div class="form-group">
      <label for="family" class="from-label">نام خانوادگی</label>
      <input type="text" class="form-control" name="family" id="family" />
    </div>
    <br />
    <div class="form-group">
      <label for="nation" class="from-label">ملیت</label>
      <input type="text" class="form-control" name="nation" id="nation" />
    </div>
    <br />
    <div class="form-group">
      <button
        data-btn-create="true"
        data-post-url="MusicianManagement/create"
        data-get-url="MusicianManagement/search"
        data-form-id="frmCreateMusician"
        data-grid-id="grid"
        data-alert-id="dvAlertError"
        type="submit"
        class="btn btn-success"
      >
        ثبت
      </button>
    </div>
  </form>
</div>
