<div class="col-12">
  <form class="form">
    <div class="form-group">
      <label for="name" class="from-label">نام ژانر</label>
      <input type="text" class="form-control" name="name" id="name" />
    </div>
    <br />
    <div class="form-group">
      <label for="family" class="from-label">توضیحات</label>
     <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
    </div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-success">ثبت</button>
    </div>
  </form>
</div>
