
<!--start form-->
<div class="page-content-wrapper">
    <div class="page-content">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">مدیریت بازیگران</h6>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label class="from-label" for="actorId"
                  >انتخاب بازیگر</label
                >
                <select
                  class="form-control form-selct"
                  name="actorId"
                  id="actorId"
                >
                  <option value="actorId">1</option>
                  <option value="actorId">1</option>
                  <option value="actorId">1</option>
                </select>
              </div>
              <div class="form-group">
                <label class="from-label" for="name">نام</label>
                <input
                  class="form-control form-control-lg mb-3"
                  type="text"
                  aria-label=".form-control-lg example"
                  name="name"
                  id="name"
                />
              </div>
              <div class="form-group">
                <label class="from-label" for="family">نام خانوادگی</label>
                <input
                  class="form-control form-control-lg mb-3"
                  type="text"
                  aria-label=".form-control-lg example"
                  name="family"
                  id="family"
                />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" id="btnSearchActor">
                  <i class="lni lni-search"></i>جستجو
                </button>

                <span
                id="btnAddModalShow"
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#exampleLargeModal"
              >
              <i class="lni lni-plus"></i>ثبت بازیگر جدید
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="grid"></div>

  

  