<!--start form-->
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="mb-0">عنوان</h6>
          </div>
          <div class="card-body">
            <form id="frmSearchDirector" method="get">
              <div class="form-group">
                <label class="from-label" for="directorId"
                  >انتخاب کارگردان</label
                >
                <select
                  class="form-control form-select"
                  name="directorId"
                  id="directorId"
                >
                  <option value="">...انتخاب کنید...</option>
                  <option value="">
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="from-label" for="name">نام</label>
                <input
                  class="form-control form-control-lg mb-3"
                  type="text"
                  aria-label=".form-control-lg example"
                  name="name"
                  id="name"
                />
              </div>
              <div class="form-group">
                <label class="from-label" for="family">نام خانوادگی</label>
                <input
                  class="form-control form-control-lg mb-3"
                  type="text"
                  aria-label=".form-control-lg example"
                  name="family"
                  id="family"
                />
              </div>
              <div class="form-group">
                <button
                  data-btn-search="true"
                  data-get-url="DirectorManagement/search"
                  data-form-id="frmSearchDirector"
                  data-grid-id="grid"
                  type="submit"
                  class="btn btn-primary"
                >
                  <i class="lni lni-search"></i>جستجو
                </button>

                <span
                  data-show-create-modal="true"
                  data-get-url="DirectorManagement/createModal"
                  type="button"
                  class="btn btn-success"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleLargeModal"
                >
                  <i class="lni lni-plus"></i>ثبت کارگردان جدید
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="grid"><%- include('grid') %></div>

<!-- Modal -->
<div
  class="modal fade"
  data-modal="true"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ثبت و ویرایش</h5>
      </div>
      <div data-modal-content="true" class="modal-body">...</div>
    </div>
  </div>
</div>
