<div class="col-12">
  <form class="form" id="frmEditAuthor" method="post">
    <input type="hidden" name="authorId" value=""/>
    <br />
    <div class="form-group">
      <label for="name" class="from-label">نام</label>
      <input type="text" class="form-control" name="name" id="name" value="" />
    </div>
    <br />
    <div class="form-group">
      <label for="family" class="from-label">نام خانوادگی</label>
      <input type="text" class="form-control" name="family" id="family" value="" />
    </div>
    <br />
    <div class="form-group">
      <label for="nation" class="from-label">ملیت</label>
      <input type="text" class="form-control" name="nation" id="nation" value="" />
    </div>
    <br />
    <div class="form-group">
      <button type="submit" id="btnEditAuthor" class="btn btn-success">ثبت</button>
    </div>
  </form>
</div>
