<table 
class="table table-bordered table-hover table-striped table-sm"
>
<h4>بازیگران</h4>
<tr>
  <th>ردیف</th>
  <th>نام</th>
  <th>نام خانوادگی</th>
  <th></th>
</tr>

  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <span
      data-delete-actor="true"
      data-id=""
      grid-id="dvPageContent"
      data-post-url="MovieManagement/deleteActor"
      data-get-url="MovieManagement"
      data-confirm-message="آیا مطمئن هستید؟"
      class="btn btn-outline-danger"
    >
      <i class="bx bx-x"></i>حذف
    </span>
  </td>
</tr>

</table>