

<div class="card">
  <div class="card-header">
    <h6 class="mb-0"></h6>
  </div>
  <br />
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-sm table-hover table-striped">
          <tr>
            <td>
              <label>نام فیلم</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <span
                data-show-edit-movie-modal="true"
                data-get-url="MovieManagement/editMovieNameModal"
                data-modal-id="modal"
                data-modal-content-id="dvModalContent"
                data-movie-id=""
                class="btn btn-outline-warning"
              >
                <i class="bx bx-edit"></i>ویرایش
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label>دسته بندی</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>نویسنده</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>کارگردان</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>آهنگساز</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>ژانر</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>توضیحات</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>مدت زمان</label>
            </td>
            <td>
              <h5> دقیقه</h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>مناسب برای سن</label>
            </td>
            <td>
              <h5>16+</h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>خلاصه داستان</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>سال ساخت</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>امتیاز imdb</label>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>زیرنویس</label>
            </td>
            <td>
      <h5></h5>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>عکس</label>
            </td>
            <td>
              <img
                src="../images/"
                width="240"
                alt=""
              />
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>متن جایگزین</label>
            </td>
            <td>
              <input
                class="form-control"
                disabled
                value=""
              />
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>ویدئو</label>
            </td>
            <td>
              <video width="240" controls autoplay="true">
                <source src="../videos/" />
              </video>
            </td>
            <td>
              <button class="btn btn-outline-warning">
                <i class="bx bx-edit"></i>ویرایش
              </button>
            </td>
          </tr>
          <tr>
            <div id="grdActorsDetail"></div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
