<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h6 class="mb-0">مدیریت فیلم ها</h6>
      </div>
      <br />
      <div class="card-body">
        <form
          method="post"
          enctype="multipart/form-data"
          action="MovieManagement/createVideo"
        ><input type="hidden" name="movieId" id="movieId" value="" />
        <input type="hidden" name="movieName" id="movieName" value="" />
        <input type="hidden" name="coverImageAlter" id="coverImageAlter" value="" />
        <input type="hidden" name="coverImageUrl" id="coverImageUrl" value="" />
        <input type="hidden" name="description" id="description" value="" />
        <input type="hidden" name="summary" id="summary" value="" />
        <input type="hidden" name="time" id="time" value="" />
        <input type="hidden" name="minAge" id="minAge" value="" />
        <input type="hidden" name="yearOfBuilt" id="yearOfBuilt" value="" />
        <input type="hidden" name="imdb" id="imdb" value="" />
        <input type="hidden" name="hasSubText" id="hasSubText" value="" />
        <input type="hidden" name="genreId" id="genreId" value="" />
        <input type="hidden" name="categoryId" id="categoryId" value="" />
        <input type="hidden" name="authorId" id="authorId" value="" />
        <input type="hidden" name="directorId" id="directorId" value="" />
        <input type="hidden" name="musicianId" id="musicianId" value="" />
        <div class="form-group">
            <label for="movieVideoUrl">ویدئو</label>
            <input type="file" name="movieVideoUrl" id="movieVideoUrl" />
        </div>
        <br/>
        <div class="form-group">
            <button class="btn btn-outline-success">ثبت ویدئو</button>
        </div>
    </form>
      </div>
    </div>
  </div>
</div>
