<div class="col-12">
    <form id="frmAnswer" method="post" action="CommentManagement/answer">
      <input type="hidden" name="commentId" value="" />
      <input type="hidden" name="text" value="" />
      <input type="hidden" name="movieId" value="" />
      <input type="hidden" name="userId" value="" />
      <input type="hidden" name="username" value="" />
      <input type="hidden" name="_csrf" value="" />
      <br />
      <div class="form-group">
        <p class="text-info"></p>
      </div>
      <div class="form-group">
        <label for="answer" class="from-label">پاسخ</label>
        <textarea class="form-control"  name="answer" id="answer"></textarea>
      </div>
      <br />
      <div class="form-group">
        <button  type="submit" class="btn btn-warning">
          ثبت پاسخ
        </button>
      </div>
    </form>
  </div>
  