<div class="col-12">
  <form class="form">
    <input type="hidden" value="commentId"/>
    <br />
    <div class="form-group">
      <label for="answer" class="from-label">پاسخ</label>
      <textarea class="form-control" name="answer" id="answer"></textarea>
    </div>
    <br />
    <div class="form-group">
      <label for="name" class="from-label">آیا نظر را تایید می کنید؟</label>
      <input type="checkbox" class="form-check-input" name="name" id="name" />
    </div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-success">ثبت</button>
    </div>
  </form>
</div>