<!-- start grid-->
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <h6 class="mb-0 text-uppercase">نظرات</h6>
        <hr />
        <div class="card">
          <div class="card-body">
            <table class="table mb-0 table-dark table-striped">
              <thead>
                <tr>
                  <th scope="col">شناسه</th>
                  <th scope="col">تاییدیه</th>
                  <th scope="col">پاسخ</th>
                  <th scope="col">متن</th>
                  <th scope="col">فیلم</th>
                  <th scope="col"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><i class="bx bx-comment-check"></i></td>
                  <td>سلام</td>
                  <td>سلام</td>
                  <td>2</td>
                  <td>
                    <button id="btnEditModalShow" class="btn btn-warning">
                      <i class="bx bx-edit"></i>ثبت پاسخ
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger">
                      <i class="bx bx-x"></i>حذف
                    </button>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end page content-->
</div>
